<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
  <li>
    <%= active_link_to "Dashboard", admin_root_path %>
  </li>

  <li>
    <%= nested_list(
      { name: "Users",
        children: [
          { name: "List", path: admin_users_path },
        ]
      }
    ) %>
  </li>
</ul>
