<% content_for :admin_panel, true %>
<% content_for :title, "Home - Admin" %>
<% content_for :nav_brand do %>
  <%= link_to "Admin", admin_root_path, class: "btn btn-ghost text-xl" %>
<% end %>

<% content_for :content do %>
  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
      <!-- Page content here -->
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
        Open drawer
      </label>
      <%= yield %>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
      <%= render "shared/admin_sidebar" %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
